services:
  app:
    container_name: awesome-backend-app
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      rabbitmq:
        condition: service_healthy
    ports:
      - "8080:8080"
    networks:
      - awesome-backend-network
    healthcheck:
      test: [ "CMD", "curl","-f", "http://app:8080/awesome-backend/healthcheck" ]
      timeout: 10s
      retries: 5
    restart: always
  rabbitmq:
    image: rabbitmq:4-management
    container_name: rabbitmq
    env_file:
      - .env
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - awesome-backend-network
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s
      start_interval: 10s
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - awesome-backend-network
networks:
    awesome-backend-network:
      driver: bridge
