services:
  app:
    container_name: awesome-backend
    build: .
    networks:
      - app
    volumes:
      - ./volume:/app/volumes
    ports:
      - "8080:8080"
    env_file:
      - .env
    command: ["./app/app"]
    restart: always
    healthcheck:
      test: ["CMD", "curl","-f", "http://app:8080/healthcheck"]
      timeout: 10s
  init:
    container_name: init-container
    image: curlimages/curl:8.18.0
    networks:
      - app
    command: sh -c 'sleep 10; curl -f http://app:8080/healthcheck && exit 0; exit 1'
    depends_on:
      - app
networks:
   app:
     driver: bridge